@model CougModels.ViewModels.CougProgramDiscussionBoard
@{
    ViewData["Title"] = "DiscussionBoard";
}

<h1>@Model.CougProgram.Name</h1>

<div>
    <br />
    <h3>Program Description</h3>
    <p>@Model.CougProgram.Description</p>
    <hr />
    <h3>Discussion</h3>
    <a asp-action="DiscussionPost" class="btn btn-primary" asp-route-id="@Model.CougProgram.Id">Create New Post</a>
    <br />
    @foreach (var discussions in @Model.Discussions)
    {
        <br />
        @await Html.PartialAsync("_NewThread", discussions)
    }
</div>
