@model CougModels.ViewModels.CougProgramDiscussionBoard
@{
    ViewData["Title"] = "DiscussionBoard";
}

<h1>Discussion Board</h1>

<div>
    @foreach (var discussions in @Model.Discussions)
    {
        <br />
        @await Html.PartialAsync("_NewThread", discussions)
    }
</div>
