@model CougModels.ViewModels.CougViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>My Profile</h1>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Firstname" class="control-label"></label>
                <input asp-for="Firstname" class="form-control" />
                <span asp-validation-for="Firstname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lastname" class="control-label"></label>
                <input asp-for="Lastname" class="form-control" />
                <span asp-validation-for="Lastname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GenderId" class="control-label"></label>
                <select asp-for="GenderId" class="form-control"
                        asp-items="@(IEnumerable <SelectListItem>)ViewBag.Genders"></select>
                <span asp-validation-for="GenderId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CougYearId" class="control-label"></label>
                <select asp-for="CougYearId" class="form-control"
                        asp-items="@(IEnumerable <SelectListItem>)ViewBag.Years"></select>
                <span asp-validation-for="CougYearId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MajorId" class="control-label"></label>
                <select asp-for="MajorId" class="form-control"
                        asp-items="@(IEnumerable <SelectListItem>)ViewBag.Majors"></select>
                <span asp-validation-for="MajorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
