@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a class="nav-link text-dark" asp-area="" asp-controller="Genders" asp-action="Index">Genders</a>
    <a class="nav-link text-dark" asp-area="" asp-controller="CougCourse" asp-action="Index">Courses</a>
    <a class="nav-link text-dark" asp-area="" asp-controller="CougYear" asp-action="Index">Years</a>\
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
