@{
    ViewData["Title"] = "Home Page";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CougNet</title>
    <link href="~/css/CustomStyle.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="text-center">
        <h1 class="display-4">Welcome to CougNet</h1>
        <img id="frontmatter" src="~/cougar_wsu.jpg" alt="WSU Logo" />
        <br />
        <p>We strive to make <b>connecting</b> with Cougs as easy as possible.</p>
    </div>

    <hr />
</body>
</html>

